/* Munchkin CSS Started March 2023 Kirk Mitchell */

*{
  transition-duration: 250ms;}

@font-face {
  font-family: 'neoclassical';
  src: url('/neoclassical.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  }

html {
  width: 100vw;
  height: 100vh;
  }

body {
  margin: 0;
  padding: 0;
  background-color:#1b1b1e;
  color:#efebce;
  }

a{
  text-decoration: none;
  color:inherit;}

.flex-center{
  display: flex;
  justify-content: center;
  text-align: center;}



.h1 {margin-top:-10px;
  text-shadow:2px 2px 1px #b75d69;
  font-family: 'neoclassical', serif;
  margin-right:30px;
  font-size:2em;
  margin-left:30px;
}

.p-normal {
  font-family: 'neoclassical', serif;
  /*text-shadow:2.5px 2.5px 5px #D77A61;*/
  font-size:1.2em;
  margin-left:10px;
  margin-right:10px;
}

.p-sm{
  font-family:'Montserrat', sans-serif;
  font-size:.8em;
  font-weight: 300;}


/* Spacers */
#top-spacer{
  margin-top:30px;}

#power-el{
  margin-top:-9px;
}


/* Buttons */

.button{
  justify-content: center;
  width:250px;
  color:#efebce;
  background-color:#b75d69;
  font-family: 'neoclassical', serif;
  font-size:1.5em;
  padding:5px 10px;
  border:none;
  margin-left:15px;
  margin-right:15px;
  border-radius:15px;
  letter-spacing: .5px;
  margin-bottom:20px;
  display: flex;

}

.button:hover{
  background-color:#efebce;
  color:#b75d69;


}


@media (max-width: 768px){
.flex-center{flex-direction: column;
  margin-left:5px;
  margin-right:5px;
align-items: center;
}

}